<header>
                
    <a href="/" class =" lo"> AYUSHMAN SYSTEM FOR MEDICINE</a>
    <ul class =" navlist">
        <li><a href ="/" > HOME</a></li>
        <li><a href ="/checker" > CHECKER</a></li>
        <li><a href ="/about" > ABOUT</a></li>
        <li><a href ="faq" >FAQ</a></li>
    </ul>
    <div class =" bx bx-menu" id="menu-icon"></div>
    
</header>