<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <meta name ="viewport " content =" width=device-width, initial-scale=1">
        <title> AYUSH SYSTEM FOR MEDICINE</title>
        <!---custom css linnk---->
        <link rel ="stylesheet"  type="text/css" href="style404.css" >
        <!-- boxicons link -->
        <link rel="stylesheet"
        href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
        <!-- remixicons link -->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
        <!-- google font link -->
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik+Pixels&family=Sigmar&display=swap" rel="stylesheet">




    </head>
    <body ><div class="background">
            
            <%- include('./partials/header.ejs') %>

            <section class ="hero">
                <div class="error-container">
                    <h1>404</h1>
                    <p>Oops! The page you are looking for could not be found.</p>
                    
                  </div>
                  <div class =" plagimg">
                    <img src="./6330890.png" width="200" height="200">
                </div>
            </section> 
            

</div>
</body>
</html>