<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <meta name ="viewport " content =" width=device-width, initial-scale=1">
        <title> AYUSH SYSTEM FOR MEDICINE</title>
        <!---custom css linnk---->
        <link rel ="stylesheet"  type="text/css" href="./style.css" >
        <!-- boxicons link -->
        <link rel="stylesheet"
        href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
        <!-- remixicons link -->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
        <!-- google font link -->
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script&family=Instrument+Serif:ital@0;1&family=Ubuntu&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">



    </head>
    <body ><div class="background">
            
            <%- include('./partials/header.ejs') %>    

            <section class ="hero">
                <div class="hero1">
                    <h5>
                        #1 Plagiarism Checker
                    </h5>
                    <h4>
                        Leads the role for verified documents
                    </h4>
                    <h1>
                        PLAGIARISM CHECKER
                    </h1>
                    <P> Facilitate plagiarism checking </P>
                    <a href="./checker"><i class="ri-edit-line"></i> CHECK</a>
                </div>
                <div class ="plag-img"><img src="./teaching-plagiarism-in-online-classroom.jpg" height="300" width="400" title="STEALING IDEAS" class="plag-img">
                    
                </div>
            </section> 
<div class="icons">
    <a href="https://www.instagram.com/nidhishgambhir" target="_blank">
        <i class='bx bxl-instagram'></i>
    </a>
    <a href="https://www.youtube.com/@NetNinja" target="_blank">
        <i class='bx bxl-youtube' ></i>
    </a>
    <a href="https://in.linkedin.com/in/nidhishgambhir" target="_blank">
        <i class='bx bxl-linkedin' ></i>
    </a>
</div >
<!-- 
    <div class="scroll-down">
        <a href="#">
            <i class='bx bx-down-arrow-alt'></i>
        </a>
    </div> 
-->
</div>

</body>
</html>